@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --White: hsl(0, 0%, 100%);

  --Slate-300: hsl(212, 45%, 89%);
  --Slate-500: hsl(216, 15%, 48%);
  --Slate-900: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--Slate-300);
  font-family: 'Outfit', sans-serif;
}
main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background: var(--White);
  padding: 20px;
  width: 100%;
  max-width: 320px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
img {
  width: 100%;
  border-radius: 10px;
}
h1 {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0;
  margin-top: 20px;
  color: var(--Slate-900);
}
p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.90px;
  text-align: center;
  margin-top: 16px;
  color: var(--Slate-500);
}

@media (max-width: 768px) {
  .card {
    max-width: 380px;
    padding: 24px;
  }
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }